/****************** Generelt ******************/

/****************** Mobil ******************/
@media screen and (max-width: 1000px) {
  body {
    background-color: #aec3c3;
  }

  .img-b {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  main p {
    padding-left: 4rem;
    padding-right: 4rem;
    color: black;
  }

  ul {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  h1 {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 0;
  }
  h2 {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 1px;
    padding-top: 1px;
  }
}
/****************** Desktop ******************/
@media (min-width: 1000px) {
  body {
    background-color: #aec3c3;
  }

  .img-b {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  main p {
    padding-left: 4rem;
    padding-right: 4rem;
    color: black;
  }

  ul {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  h1 {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 0;
  }
  h2 {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 1px;
    padding-top: 1px;
  }
}

/****************** Galleri ******************/

/****************** Mobil ******************/
@media screen and (max-width: 1000px) {
  .grid_b {
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    img {
      object-fit: cover;
    }
    .grid_b1 {
      grid-column: 1/2;
      grid-row: 1/2;
      width: 91px;
      height: 107px;
      place-self: center;
    }
    .grid_b2 {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .grid_b3 {
      grid-column: 2/3;
      grid-row: 1/2;
      width: 104px;
      height: 99px;
      place-self: center;
    }
    .grid_b4 {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    .grid_b5 {
      grid-column: 1/2;
      grid-row: 2/3;
      width: 122px;
      height: 61px;
      place-self: center;
    }
    .grid_b6 {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .grid_b7 {
      grid-column: 2/3;
      grid-row: 2/3;
      width: 141px;
      height: 62px;
      place-self: center;
    }
    .grid_b8 {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }
}
/****************** Desktop ******************/
@media (min-width: 1000px) {
  .begivenheder {
    display: grid;
  }
  .begivender p {
    max-width: 60ch;
  }
  .grid_b {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

    img {
      object-fit: cover;
    }
    .grid_b1 {
      grid-column: 1;
      grid-row: 1;
    }
    .grid_b2 {
      grid-column: 1;
      grid-row: 1;
    }
    .grid_b3 {
      grid-column: 2;
      grid-row: 1;
    }
    .grid_b4 {
      grid-column: 2;
      grid-row: 1;
    }
    .grid_b5 {
      grid-column: 3;
      grid-row: 1;
    }
    .grid_b6 {
      grid-column: 3;
      grid-row: 1;
    }
    .grid_b7 {
      grid-column: 4;
      grid-row: 1;
    }
    .grid_b8 {
      grid-column: 4;
      grid-row: 1;
    }
  }
}

/****************** Begivenheder på Tanken ******************/

/****************** Mobil ******************/
@media screen and (max-width: 1000px) {
  .grid_bb {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    img {
      object-fit: cover;
      align-self: stretch;
    }
    .grid_bb1 {
      grid-column: 1/4;
      grid-row: 1/6;
    }
    .grid_bb2 {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    .grid_bb3 {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    .grid_bb4 {
      grid-column: 2/3;
      grid-row: 4/5;
    }
    .grid_bb5 {
      grid-column: 2/3;
      grid-row: 5/6;
      align-items: center;
      place-self: center;
      margin-bottom: 10rem;
    }
  }
}
/****************** Desktop ******************/
@media (min-width: 1000px) {
  .grid_bb {
    margin-top: 3rem;
    margin-left: 30rem;
    margin-right: 30rem;
    margin-bottom: 10rem;
  }
}

/****************** TænkeTanken ******************/
/****************** Mobil ******************/
@media screen and (max-width: 1000px) {
  .grid_bbb {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr 0.3fr 0.3fr 0.3fr 1fr;
  }
  img {
    object-fit: cover;
    align-self: stretch;
  }
  .grid_bbb1 {
    grid-column: 1/4;
    grid-row: 1/6;
  }
  .grid_bbb2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .grid_bbb3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .grid_bbb4 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .grid_bbb5 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .img-b1 {
    max-width: 500px;
    padding: 2rem;
  }
}
/****************** Desktop ******************/
@media (min-width: 1000px) {
  .b-desk {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid_bbb {
    grid-column: 3/5;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .img-b1 {
    max-width: 500px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 30rem;
    margin-right: 2rem;
  }
}

/****************** Drinks ******************/

/****************** Mobil ******************/
@media screen and (max-width: 1000px) {
  .grid_bbbb {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  img {
    object-fit: cover;
    align-self: stretch;
  }
  .grid_bbbb1 {
    grid-column: 1/4;
    grid-row: 1/6;
  }
  .grid_bbbb2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .grid_bbbb3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .img-b2 {
    max-width: 500px;
    padding: 2rem;
  }
}
/****************** Desktop ******************/
@media (min-width: 1000px) {
  .b-desk {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid_bbbb {
    grid-column: 2/3;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .img-b2 {
    max-width: 500px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 30rem;
  }
}

/****************** Tanken Runners ******************/

/****************** Mobil ******************/
@media screen and (max-width: 1000px) {
  .grid_bbbbb {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 0.5fr 0.3fr 0.1fr 0.1fr 0.3fr 0.5fr;
  }
  img {
    object-fit: cover;
    align-self: stretch;
  }
  .grid_bbbbb1 {
    grid-column: 1/-1;
    grid-row: 1/7;
  }
  .grid_bbbbb2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .grid_bbbbb3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .grid_bbbbb4 {
    grid-column: 2/3;
    grid-row: 5/5;
  }
  .grid_bbbbb5 {
    grid-column: 2/3;
    grid-row: 5/7;
    align-items: center;
    place-self: center;
  }
  .img-b3 {
    max-width: 500px;
    padding: 2rem;
  }
}
/****************** Desktop ******************/
@media (min-width: 1000px) {
  .b-desk {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid_bbbbb {
    grid-column: 3/5;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .img-b3 {
    max-width: 500px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 30rem;
    margin-right: 2rem;
  }
}
/****************** Festival Express ******************/
/****************** Mobil ******************/
@media screen and (max-width: 1000px) {
  .grid_bbbbbb {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  img {
    object-fit: cover;
    align-self: stretch;
  }
  .grid_bbbbbb1 {
    grid-column: 1/-1;
    grid-row: 1/5;
  }
  .grid_bbbbbb2 {
    grid-column: 2/3;
    grid-row: 2;
  }
  .grid_bbbbbb3 {
    grid-column: 2/3;
    grid-row: 3;
  }
  .grid_bbbbbb4 {
    grid-column: 2/3;
    grid-row: 4;
  }
  .img-b4 {
    max-width: 500px;
    padding: 2rem;
  }
}
/****************** Desktop ******************/
@media (min-width: 1000px) {
  .b-desk {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid_bbbbbb {
    margin-left: 20rem;
    grid-column: 1/3;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .img-b4 {
    max-width: 500px;
    margin-top: 6rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 30rem;
  }
}
