@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");
body {
  background-color: #feffed;
}

.h1 {
  font-family: "Young Serif", serif;
  font-size: 36px;
  color: #01439e;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 0%;
}
th {
  font-family: "Young Serif", serif;
}
/*****************Lystavlen******************/

/************************ Mobile version **********************/

@media screen and (max-width: 800px) {
  .mobilemenu {
    display: grid;
    grid-template-columns: 1fr;
  }

  .text1 {
    z-index: 1;
    font-family: "Montserrat", sans-serif;
    margin-top: -65%;
    margin-bottom: 0rem;
    padding-left: 10%;
    padding-top: 2%;
    text-align: center;
  }

  .tx1-1 {
    line-height: 250%;
    font-size: 175%;
  }
  .tx1-2 {
    line-height: 175%;
    font-size: 175%;
  }
  .tx1-3 {
    line-height: 225%;
    font-size: 175%;
  }
  .tx1-4 {
    line-height: 190%;
    font-size: 175%;
  }

  .text2 {
    z-index: 1;
    font-family: "Montserrat", sans-serif;
    margin-top: -65%;
    padding-left: 15%;
    padding-top: 1%;
    text-align: center;
  }

  .tx2-1 {
    line-height: 275%;
    font-size: 175%;
  }
  .tx2-2 {
    line-height: 175%;
    font-size: 175%;
  }
  .tx2-3 {
    line-height: 225%;
    font-size: 175%;
  }
  .tx2-4 {
    line-height: 175%;
    font-size: 175%;
  }

  .text3 {
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    margin-top: -78%;
    padding-left: 10%;
    text-align: center;
  }

  .tx3-1 {
    line-height: 275%;
    font-size: 175%;
  }
  .tx3-2 {
    line-height: 175%;
    font-size: 175%;
  }
  .tx3-3 {
    line-height: 290%;
    font-size: 175%;
  }
  .tx3-4 {
    line-height: 175%;
    font-size: 175%;
  }
  .tx3-5 {
    line-height: 275%;
    font-size: 175%;
  }
  .text4 {
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    margin-top: -35%;
    margin-bottom: 0rem;
    padding-left: 28%;
    padding-top: 2%;
    text-align: center;
  }

  .tx4-1 {
    line-height: 275%;
    font-size: 175%;
  }
  .tx4-2 {
    line-height: 185%;
    font-size: 175%;
  }

  .text5 {
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    margin-top: -48%;
    margin-bottom: 0rem;
    padding-left: 17%;
    padding-top: 0px;
    text-align: center;
  }

  .tx5-1 {
    line-height: 275%;
    font-size: 175%;
  }
  .tx5-2 {
    line-height: 200%;
    font-size: 175%;
  }

  .tx5-3 {
    line-height: 250%;
    font-size: 175%;
  }

  .text6 {
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    margin-top: -152%;
    margin-bottom: 0rem;
    padding-left: 17%;
    padding-top: 0px;
    text-align: center;
  }

  .tx6-1 {
    line-height: 275%;
    font-size: 175%;
  }
  .tx6-2 {
    line-height: 175%;
    font-size: 175%;
  }

  .tx6-3 {
    line-height: 270%;
    font-size: 175%;
  }
  .tx6-4 {
    line-height: 175%;
    font-size: 175%;
  }
  .tx6-5 {
    line-height: 300%;
    font-size: 175%;
  }
  .tx6-6 {
    line-height: 175%;
    font-size: 175%;
  }
  .tx6-7 {
    line-height: 275%;
    font-size: 175%;
  }
  .tx6-8 {
    line-height: 200%;
    font-size: 175%;
  }
  .tx6-9 {
    line-height: 275%;
    font-size: 175%;
  }
  .tx6-10 {
    line-height: 175%;
    font-size: 175%;
  }

  .text7 {
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    margin-top: -197%;
    margin-bottom: 0rem;
    padding-left: 16%;
    padding-top: 0px;
    text-align: center;
  }

  .tx7-1 {
    line-height: 275%;
    font-size: 175%;
  }
  .tx7-2 {
    line-height: 175%;
    font-size: 175%;
  }

  .tx7-3 {
    line-height: 270%;
    font-size: 175%;
  }
  .tx7-4 {
    line-height: 215%;
    font-size: 175%;
  }
  .tx7-5 {
    line-height: 250%;
    font-size: 175%;
  }
  .tx7-6 {
    line-height: 200%;
    font-size: 175%;
  }
  .tx7-7 {
    line-height: 265%;
    font-size: 175%;
  }
  .tx7-8 {
    line-height: 215%;
    font-size: 175%;
  }
  .tx7-9 {
    line-height: 225%;
    font-size: 175%;
  }
  .tx7-10 {
    line-height: 215%;
    font-size: 175%;
  }
  .tx7-11 {
    line-height: 265%;
    font-size: 175%;
  }
  .tx7-12 {
    line-height: 200%;
    font-size: 175%;
  }
  .tx7-13 {
    line-height: 225%;
    font-size: 175%;
  }

  .text8 {
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    margin-top: -241%;
    margin-bottom: 0rem;
    padding-left: 10%;
    padding-top: 0px;
    text-align: center;
  }

  .tx8-1 {
    line-height: 250%;
    font-size: 175%;
  }
  .tx8-2 {
    line-height: 218%;
    font-size: 175%;
  }

  .tx8-3 {
    line-height: 245%;
    font-size: 175%;
  }
  .tx8-4 {
    line-height: 200%;
    font-size: 175%;
  }
  .tx8-5 {
    line-height: 250%;
    font-size: 175%;
  }
  .tx8-6 {
    line-height: 230%;
    font-size: 175%;
  }
  .tx8-7 {
    line-height: 229%;
    font-size: 175%;
  }
  .tx8-8 {
    line-height: 200%;
    font-size: 175%;
  }
  .tx8-9 {
    line-height: 275%;
    font-size: 175%;
  }
  .tx8-10 {
    line-height: 190%;
    font-size: 175%;
  }
  .tx8-11 {
    line-height: 250%;
    font-size: 175%;
  }
  .tx8-12 {
    line-height: 200%;
    font-size: 175%;
  }
  .tx8-13 {
    line-height: 275%;
    font-size: 175%;
  }
  .tx8-14 {
    line-height: 200%;
    font-size: 175%;
  }
  .tx8-15 {
    line-height: 250%;
    font-size: 175%;
  }
  .tx8-16 {
    line-height: 200%;
    font-size: 175%;
  }

  .text9 {
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    margin-top: -107.5%;
    margin-bottom: 0rem;
    padding-left: 12%;
    padding-top: 0px;
    text-align: center;
  }

  .tx9-1 {
    line-height: 275%;
    font-size: 175%;
  }
  .tx9-2 {
    line-height: 175%;
    font-size: 175%;
  }

  .tx9-3 {
    line-height: 275%;
    font-size: 175%;
  }
  .tx9-4 {
    line-height: 200%;
    font-size: 175%;
  }
  .tx9-5 {
    line-height: 240%;
    font-size: 175%;
  }
  .tx9-6 {
    line-height: 240%;
    font-size: 175%;
  }
  .tx9-7 {
    line-height: 220%;
    font-size: 175%;
  }

  .text10 {
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    margin-top: -47.5%;
    margin-bottom: 0rem;
    padding-left: 27%;
    padding-top: 0px;
    text-align: center;
  }

  .tx10-1 {
    line-height: 275%;
    font-size: 175%;
  }
  .tx10-2 {
    line-height: 175%;
    font-size: 175%;
  }
  .tx10-3 {
    line-height: 275%;
    font-size: 175%;
  }

  .text11 {
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    margin-top: -107.5%;
    margin-bottom: 0rem;
    padding-left: 20%;
    padding-top: 0px;
    text-align: center;
  }

  .tx11-1 {
    line-height: 275%;
    font-size: 175%;
  }
  .tx11-2 {
    line-height: 175%;
    font-size: 175%;
  }

  .tx11-3 {
    line-height: 275%;
    font-size: 175%;
  }
  .tx11-4 {
    line-height: 200%;
    font-size: 175%;
  }
  .tx11-5 {
    line-height: 260%;
    font-size: 175%;
  }
  .tx11-6 {
    line-height: 200%;
    font-size: 175%;
  }
  .tx11-7 {
    line-height: 250%;
    font-size: 175%;
  }

  .text12 {
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    margin-top: -238%;
    margin-bottom: 0rem;
    padding-left: 12.5%;
    padding-top: 0px;
    text-align: center;
  }
  .tx12-1 {
    line-height: 140%;
    font-size: 175%;
  }
  .tx12-2 {
    line-height: 325%;
    font-size: 175%;
  }
  .tx12-3 {
    line-height: 125%;
    font-size: 175%;
  }
  .tx12-4 {
    line-height: 350%;
    font-size: 175%;
  }
  .tx12-5 {
    line-height: 100%;
    font-size: 175%;
  }
  .tx12-6 {
    line-height: 350%;
    font-size: 175%;
  }
  .tx12-7 {
    line-height: 100%;
    font-size: 175%;
  }
  .tx12-8 {
    line-height: 375%;
    font-size: 175%;
  }
  .tx12-9 {
    line-height: 100%;
    font-size: 175%;
  }
  .tx12-10 {
    line-height: 350%;
    font-size: 175%;
  }
  .tx12-11 {
    line-height: 100%;
    font-size: 175%;
  }
  .tx12-12 {
    line-height: 350%;
    font-size: 175%;
  }
  .tx12-13 {
    line-height: 100%;
    font-size: 175%;
  }
  .tx12-14 {
    line-height: 375%;
    font-size: 175%;
  }
  .tx12-15 {
    line-height: 100%;
    font-size: 175%;
  }
  .tx12-16 {
    line-height: 350%;
    font-size: 175%;
  }

  /************ Tavler & Billeder **********'*/

  .mobilemenu {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    z-index: -1;
  }
  .tavle3g {
    position: relative;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .tavle3dg {
    width: 100%;
    z-index: 0;
    position: relative;
    z-index: -1;
  }

  .tavle4g {
    width: 100%;
    height: auto;
    border-radius: 5px;
    z-index: -1;
  }

  .tavle1 {
    width: 100%;
    height: auto;
    border-radius: 5px;
    z-index: -1;
  }

  .tavle2b {
    width: 100%;
    height: auto;
    border-radius: 5px;
    z-index: -1;
  }
  .tavle9lb {
    width: 100%;
    height: auto;
    border-radius: 5px;
    z-index: -1;
  }

  .tavle12o {
    width: 100%;
    height: auto;
    border-radius: 5px;
    z-index: -1;
  }

  .table15r {
    width: 100%;
    height: auto;
    border-radius: 5px;
    z-index: -1;
  }

  .pink {
    width: 100%;
    height: auto;
    border-radius: 5px;
    z-index: -1;
  }

  .tavle2g {
    width: 100%;
    height: auto;
    border-radius: 5px;
    z-index: -1;
  }
  .andenrød {
    width: 100%;
    height: auto;
    border-radius: 5px;
    z-index: -1;
  }

  .tavle6p {
    width: 100%;
    height: auto;
    border-radius: 5px;
    z-index: -1;
  }

  .shots {
    width: 100%;
    height: auto;
    border-radius: 1%;
    margin-top: 13%;
    margin-bottom: 10%;
  }
  .kaffe {
    width: 100%;
    height: auto;
    border-radius: 1%;
    margin-top: 13%;
    margin-bottom: 10%;
  }
  .øl {
    width: 100%;
    height: auto;
    border-radius: 1%;
    margin-top: 13%;
    margin-bottom: 10%;
  }
  .table1 {
    z-index: 0;
    font-size: 100%;
    font-family: "Montserrat", sans-serif;
  }

  .lysskilte {
    z-index: -1;
  }
}

/***************** desktop version ******************/

@media screen and (min-width: 1000px) {
  .mobilemenu {
    display: grid;
    z-index: -1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: "Montserrat", sans-serif;
    margin-top: -17.5%;
    margin-bottom: 0rem;
    padding-left: 3%;
    padding-top: 1%;
    padding-right: 3%;
    gap: 3%;
    text-align: center;
  }

  /************* 3 gul tavle *************/
  .text1 {
    z-index: 1;
    font-family: "Montserrat", sans-serif;
    margin-top: -62%;
    margin-bottom: 0rem;
    padding-left: 12%;
    padding-top: 5px;
    text-align: center;
  }
  .tx1-1 {
    line-height: 230%;
    font-size: 175%;
    z-index: 1;
  }
  .tx1-2 {
    line-height: 220%;
    font-size: 175%;
    z-index: 1;
  }
  .tx1-3 {
    line-height: 210%;
    font-size: 175%;
    z-index: 1;
  }
  .tx1-4 {
    line-height: 220%;
    font-size: 175%;
    z-index: 1;
  }

  /************* 3 mørkegul tavle *************/

  .text2 {
    z-index: 1;
    font-family: "Montserrat", sans-serif;
    margin-top: -62%;
    margin-bottom: 0rem;
    padding-left: 16%;
    padding-top: 5px;
    text-align: center;
  }

  .tx2-1 {
    line-height: 220%;
    font-size: 175%;
  }
  .tx2-2 {
    line-height: 220%;
    font-size: 175%;
  }
  .tx2-3 {
    line-height: 230%;
    font-size: 175%;
  }
  .tx2-4 {
    line-height: 210%;
    font-size: 175%;
  }

  /************* 4 grøn tavle *************/

  .text3 {
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    margin-top: -76%;
    margin-bottom: 0rem;
    padding-left: 13%;
    padding-top: 1%;
    text-align: center;
  }

  .tx3-1 {
    line-height: 230%;
    font-size: 175%;
  }
  .tx3-2 {
    line-height: 230%;
    font-size: 175%;
  }
  .tx3-3 {
    line-height: 260%;
    font-size: 175%;
  }
  .tx3-4 {
    line-height: 200%;
    font-size: 175%;
  }
  .tx3-5 {
    line-height: 270%;
    font-size: 175%;
  }

  /************* 1 orange tavle *************/

  .text4 {
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    margin-top: -9rem;
    margin-bottom: 0rem;
    padding-left: 28%;
    padding-top: 5px;
    text-align: center;
  }

  .tx4-1 {
    line-height: 300%;
    font-size: 175%;
  }
  .tx4-2 {
    line-height: 200%;
    font-size: 175%;
  }

  /************* 2 blå tavle *************/

  .text5 {
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    margin-top: -47%;
    margin-bottom: 0rem;
    padding-left: 20%;
    padding-top: 0px;
    text-align: center;
  }

  .tx5-1 {
    line-height: 300%;
    font-size: 175%;
  }
  .tx5-2 {
    line-height: 180%;
    font-size: 175%;
  }

  .tx5-3 {
    line-height: 300%;
    font-size: 175%;
  }

  /************* 9 lyseblå tavle *************/

  .text6 {
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    margin-top: -151%;
    margin-bottom: 0rem;
    padding-left: 19%;
    padding-top: 0px;
    text-align: center;
  }

  .tx6-1 {
    line-height: 250%;
    font-size: 175%;
  }
  .tx6-2 {
    line-height: 230%;
    font-size: 175%;
  }

  .tx6-3 {
    line-height: 250%;
    font-size: 175%;
  }
  .tx6-4 {
    line-height: 250%;
    font-size: 175%;
  }
  .tx6-5 {
    line-height: 250%;
    font-size: 175%;
  }
  .tx6-6 {
    line-height: 250%;
    font-size: 175%;
  }
  .tx6-7 {
    line-height: 220%;
    font-size: 175%;
  }
  .tx6-8 {
    line-height: 250%;
    font-size: 175%;
  }
  .tx6-9 {
    line-height: 240%;
    font-size: 175%;
  }
  .tx6-10 {
    line-height: 280%;
    font-size: 175%;
  }

  /************* 12 orange tavle *************/

  .text7 {
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    margin-top: -196%;
    margin-bottom: 0rem;
    padding-left: 70px;
    padding-top: 0px;
    text-align: center;
  }

  .tx7-1 {
    line-height: 250%;
    font-size: 175%;
  }
  .tx7-2 {
    line-height: 250%;
    font-size: 175%;
  }

  .tx7-3 {
    line-height: 250%;
    font-size: 175%;
  }
  .tx7-4 {
    line-height: 210%;
    font-size: 175%;
  }
  .tx7-5 {
    line-height: 280%;
    font-size: 175%;
  }
  .tx7-6 {
    line-height: 200%;
    font-size: 175%;
  }
  .tx7-7 {
    line-height: 300%;
    font-size: 175%;
  }
  .tx7-8 {
    line-height: 200%;
    font-size: 175%;
  }
  .tx7-9 {
    line-height: 300%;
    font-size: 175%;
  }
  .tx7-10 {
    line-height: 180%;
    font-size: 175%;
  }
  .tx7-11 {
    line-height: 290%;
    font-size: 175%;
  }
  .tx7-12 {
    line-height: 200%;
    font-size: 175%;
  }
  .tx7-13 {
    line-height: 300%;
    font-size: 175%;
  }

  /************* 15 rød tavle *************/

  .text8 {
    all: unset;
    display: grid;
    width: 100%;
    height: 100%;
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    margin-top: -60.5rem;
    margin-bottom: 0rem;
    padding-left: 50px;
    padding-top: 0px;
    text-align: center;
  }

  .tx8-1 {
    line-height: 4rem;
    font-size: 175%;
  }
  .tx8-2 {
    line-height: 3.2rem;
    font-size: 175%;
  }

  .tx8-3 {
    line-height: 4rem;
    font-size: 175%;
  }
  .tx8-4 {
    line-height: 3.5rem;
    font-size: 175%;
  }
  .tx8-5 {
    line-height: 4rem;
    font-size: 175%;
  }
  .tx8-6 {
    line-height: 3rem;
    font-size: 175%;
  }
  .tx8-7 {
    line-height: 4rem;
    font-size: 175%;
  }
  .tx8-8 {
    line-height: 3rem;
    font-size: 175%;
  }
  .tx8-9 {
    line-height: 4.3rem;
    font-size: 175%;
  }
  .tx8-10 {
    line-height: 3.25rem;
    font-size: 175%;
  }
  .tx8-11 {
    line-height: 4rem;
    font-size: 175%;
  }
  .tx8-12 {
    line-height: 3rem;
    font-size: 175%;
  }
  .tx8-13 {
    line-height: 4.3rem;
    font-size: 175%;
  }
  .tx8-14 {
    line-height: 3rem;
    font-size: 175%;
  }
  .tx8-15 {
    line-height: 4.3rem;
    font-size: 175%;
  }
  .tx8-16 {
    line-height: 3rem;
    font-size: 175%;
  }

  /************* 6 pink tavle *************/

  .text9 {
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    margin-top: -107%;
    margin-bottom: 0rem;
    padding-left: 15%;
    padding-top: 0px;
    text-align: center;
  }

  .tx9-1 {
    line-height: 300%;
    font-size: 175%;
  }
  .tx9-2 {
    line-height: 150%;
    font-size: 175%;
  }

  .tx9-3 {
    line-height: 350%;
    font-size: 175%;
  }
  .tx9-4 {
    line-height: 110%;
    font-size: 175%;
  }
  .tx9-5 {
    line-height: 400%;
    font-size: 175%;
  }
  .tx9-6 {
    line-height: 100%;
    font-size: 175%;
  }
  .tx9-7 {
    line-height: 400%;
    font-size: 175%;
  }

  /************* 2 grøn tavle *************/

  .text10 {
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    margin-top: -47%;
    margin-bottom: 0rem;
    padding-left: 29%;
    padding-top: 0px;
    text-align: center;
  }

  .tx10-1 {
    line-height: 300%;
    font-size: 175%;
  }
  .tx10-2 {
    line-height: 160%;
    font-size: 175%;
  }
  .tx10-3 {
    line-height: 300%;
    font-size: 175%;
  }

  /************* 6 pink tavle *************/

  .text11 {
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    margin-top: -106%;
    margin-bottom: 0rem;
    padding-left: 20%;
    padding-top: 0px;
    text-align: center;
  }

  .tx11-1 {
    line-height: 230%;
    font-size: 175%;
  }
  .tx11-2 {
    line-height: 250%;
    font-size: 175%;
  }

  .tx11-3 {
    line-height: 250%;
    font-size: 175%;
  }
  .tx11-4 {
    line-height: 250%;
    font-size: 175%;
  }
  .tx11-5 {
    line-height: 220%;
    font-size: 175%;
  }
  .tx11-6 {
    line-height: 300%;
    font-size: 175%;
  }
  .tx11-7 {
    line-height: 175%;
    font-size: 175%;
  }

  /************* anden 15 rød *************/

  .text12 {
    all: unset;
    display: grid;
    width: 100%;
    height: 100%;
    margin-top: -238%;
    margin-left: -204%;
    border-radius: 5px;
    z-index: -1;
    z-index: 1;
    font-size: 90%;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }

  .tx12-1 {
    line-height: 200%;
    font-size: 175%;
  }
  .tx12-2 {
    line-height: 250%;
    font-size: 175%;
  }

  .tx12-3 {
    line-height: 250%;
    font-size: 175%;
  }
  .tx12-4 {
    line-height: 250%;
    font-size: 175%;
  }
  .tx12-5 {
    line-height: 265%;
    font-size: 175%;
  }
  .tx12-6 {
    line-height: 260%;
    font-size: 175%;
  }
  .tx12-7 {
    line-height: 230%;
    font-size: 175%;
  }
  .tx12-8 {
    line-height: 300%;
    font-size: 175%;
  }
  .tx12-9 {
    line-height: 200%;
    font-size: 175%;
  }
  .tx12-10 {
    line-height: 300%;
    font-size: 175%;
  }
  .tx12-11 {
    line-height: 200%;
    font-size: 175%;
  }
  .tx12-12 {
    line-height: 300%;
    font-size: 175%;
  }
  .tx12-13 {
    line-height: 200%;
    font-size: 175%;
  }
  .tx12-14 {
    line-height: 300%;
    font-size: 175%;
  }
  .tx12-15 {
    line-height: 210%;
    font-size: 175%;
  }
  .tx12-16 {
    line-height: 300%;
    font-size: 175%;
  }

  /*********** tavler og billeder ************/

  .tavle3g {
    margin-top: 75%;
    border-radius: 1%;
    z-index: -1;
  }
  .tavle4g {
    margin-top: 75%;
    border-radius: 1%;
    z-index: -1;
  }
  .tavle3dg {
    margin-top: 75%;
    border-radius: 1%;
    z-index: -1;
  }

  .tavle1 {
    margin-top: -74%;
    border-radius: 1%;
    z-index: -1;
  }

  .tavle2b {
    margin-top: -60%;
    border-radius: 1%;
    z-index: -1;
  }
  .tavle9lb {
    border-radius: 1%;
    z-index: -1;
    margin-top: -253%;
  }

  .tavle12o {
    border-radius: 1%;
    z-index: -1;
    margin-top: -130%;
  }

  .tavle15r {
    all: unset;
    display: grid;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: -1;
    margin-top: 0%;
    margin-left: 0%;
  }

  .pink {
    border-radius: 5px;
    z-index: -1;
    margin-top: -188%;
  }

  .tavle2g {
    margin-top: -305%;
    border-radius: 5px;
    z-index: -1;
  }

  .andenrød {
    all: unset;
    display: grid;
    width: 100%;
    height: 100%;
    margin-top: -210%;
    margin-left: -219%;
    border-radius: 5px;
    z-index: -1;
  }

  .tavle6p {
    margin-top: -105%;
    border-radius: 5px;
    z-index: -1;
  }

  .shots {
    border-radius: 5px;
    margin-top: -487%;
    margin-left: 219%;
  }
  .kaffe {
    border-radius: 5px;
    margin-top: -345%;
  }
  .øl {
    border-radius: 5px;
    margin-top: -63%;
  }
  .table1 {
    z-index: 0;
    font-size: 100%;
    font-family: "Montserrat", sans-serif;
  }

  .lysskilte {
    z-index: -1;
  }
}
