@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");

/*Fonts*/
.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
:root {
  /* Background color */

  --color-landing-bg: #f48101;
  --color-frontpage-bg: #f59d2e;
  --color-begivenhed-bg: #aec3c3;
  --color-menu-bg: #feffed;
  --color-tankbag-bg: #fde7ae;
  --color-merch-bg: #bdd4f3;

  /*color */
  --strong-orange: #f48101;
  --light-orange: #f59d2e;
  --dark-blue: #01449e;
  --off-white: #feffed;
  --darkdark: #231d1f;

  /* Headlines (size)*/
  --font-h1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  /* Global menu */
  --color-menu-bg: #f48101;
  /* Links */
  --color-link-bg: #f48101;
  --color-link: #feffed;
  --color-link-hover-bg: #feffed;
  --color-link-hover: #01449e;
  --color-link-active-bg: #feffed;
  --border-radius-links: 1px;
  /* Headlines (color) */
  --color-headline-bg: #50907e;
  /* Tekst */
  --color-text: light-dark (#000, #f3f3f3);
  --color-text-link: #000;
  --color-text-inverted: light-dark (#ffffff, #000);

  /*  Margins */
  --margin-head-bottom: 5px;

  /* Fonts & font weights*/
  --font-family-sans: ui-sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 300;
  --font-weight-light: 200;
}
