@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  interpolate-size: allow-keywords;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  line-height: 1.25;
}

p,
li {
  text-wrap: pretty;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

label {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-size: max(1em, 16px);
}

textarea {
  resize: none;
  min-height: 4lh;
}

legend {
  padding: 0;
}

select,
::picker(select) {
  appearance: base-select;
}

/*Fonts*/
.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
:root {
  /* Background color */

  --color-landing-bg: #f48101;
  --color-frontpage-bg: #f59d2e;
  --color-begivenhed-bg: #aec3c3;
  --color-menu-bg: #feffed;
  --color-tankbag-bg: #fde7ae;
  --color-merch-bg: #bdd4f3;

  /*color */
  --strong-orange: #f48101;
  --light-orange: #f59d2e;
  --dark-blue: #01449e;
  --off-white: #feffed;
  --darkdark: #231d1f;

  /* Headlines (size)*/
  --font-h1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  /* Global menu */
  --color-menu-bg: #f48101;
  /* Links */
  --color-link-bg: #f48101;
  --color-link: #feffed;
  --color-link-hover-bg: #feffed;
  --color-link-hover: #01449e;
  --color-link-active-bg: #feffed;
  --border-radius-links: 1px;
  /* Headlines (color) */
  --color-headline-bg: #50907e;
  /* Tekst */
  --color-text: light-dark (#000, #f3f3f3);
  --color-text-link: #000;
  --color-text-inverted: light-dark (#ffffff, #000);

  /*  Margins */
  --margin-head-bottom: 5px;

  /* Fonts & font weights*/
  --font-family-sans: ui-sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 300;
  --font-weight-light: 200;
}

/* Nav styling */
.mob-navgrid-1_1 {
  display: none;
}
.burger .line {
  display: block;
  width: 2rem;
  height: 4px;
  background-color: #ffffff;
  margin-bottom: 5px;
  /* padding-right: 2rem; */
  transition: 0.2s linear;
}
.burger {
  display: none;
  border: none;
  margin-right: 2rem;
}

.burger {
  width: 30px;
  height: 15px;
  cursor: pointer;
}

.navlogo {
  cursor: grabbing;
}
@media (min-width: 1000px) {
  #logomobil {
    display: none;
  }
  header {
    margin-top: 1.5rem;
  }
  .logonav {
    width: 10rem;
    padding-top: 3rem;
    margin-left: -8rem;
    margin-right: 4rem;
  }
  .navgrid-1_1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .navcolor {
    display: flex;
    background-color: var(--strong-orange);
    border-top: 4px solid var(--dark-blue);
    border-bottom: 4px solid var(--dark-blue);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    /* padding-left: 12rem; */
    /* margin-left: -20rem; */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-inline: 5rem;
  }

  .navlink {
    color: var(--off-white);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-inline: 3rem;
    font-size: 1.2rem;
  }

  .navlink:hover {
    color: var(--color-link-hover);
  }
}

@media screen and (max-width: 800px) {
  .logonav {
    display: none;
  }
  /* header {
    margin-top: -1.5rem;
  } */
  /* .logonav {
    width: 100%;
    z-index: 1;
    padding-top: 3rem;
    padding-left: 2rem;
    margin-right: 1rem;
  } */
  /* .navgrid-1_1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  } */

  .navcolor {
    /* display: flex; */
    background-color: var(--strong-orange);

    /* width: 100%; */
    /* height: 3rem; */
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* padding-left: 12rem; */
    /* margin-left: -20rem; */
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .navlink {
    color: var(--off-white);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-inline: 1rem;
    font-size: 1.2rem;
    display: block;
    margin-block: 1rem;
    text-align: left;
    width: fit-content;
  }
  .mob-navgrid-1_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--strong-orange);
    border-top: 4px solid var(--dark-blue);
    border-bottom: 4px solid var(--dark-blue);
    width: 100%;
    height: 5rem;
    margin-top: 2rem;
    /* padding-left: 12rem; */
    /* margin-left: -20rem; */
    /* padding-inline: 5rem; */
  }

  #logomobil {
    display: block;
    margin: auto;
    margin-top: -1rem;
    /* width: 30%; */
    width: 10rem;
    margin-left: 1rem;
    /* margin-left: 17%; */
  }

  .navlink:hover {
    color: var(--color-link-hover);
  }

  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;

    margin-left: 5%;
    /* margin-top: 7%; */
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--strong-orange);
    border: 4px solid var(--dark-blue);
    position: absolute;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* top: 10%; */
    width: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    display: block;
    margin-left: 50%;
    /* z-index: 0; */
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  /* nav.active .menu a {
    font-size: 3rem;
  } */
}

/* Footer */

/**************** Footer styling ******************/

footer {
  background-color: var(--dark-blue);
  font-family: Montserrat;
  font-size: 20px;
  margin-top: 90px;
  padding: 20px;
}

.flex_footer {
  display: flex;
  flex-direction: row;
  margin-block: 10px;
  gap: 10px;
}

.footer_sektioner {
  margin-block: 80px;
  justify-items: center;
}

footer a,
p,
h3 {
  text-decoration: none;
  color: var(--color-link);
}

footer img {
  width: 40px;
  height: 40px;
}

img.footer_logo {
  width: 120px;
  height: 120px;
}

.footerline {
  display: block;
  margin-inline: 10%;
  height: 2px;
  background: white;
}

div.flex_footer {
  align-items: center;
}

@media (min-width: 1000px) {
  .footerline {
    display: none;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .lokationersamletfooter {
    display: flex;
    justify-content: center;
    gap: 100px;
  }

  footer div:last-child {
    grid-column: 1;
    grid-row: 1;
  }

  .footer_logo {
    margin-left: 400px;
  }

  .footer_sektioner h3 {
    margin-bottom: 25px;
  }
}
