body {
  background-color: #fde7ae;
  font-family: Montserrat;
  line-height: auto;
}

body p {
  color: var(--darkdark);
}

/* html,
body {
  overflow-x: hidden;
} */

/********* tanken bag sektion ***********************/

/* baggrundsbox*/
.tanken-bag-sektion {
  background-color: #feffed;
  border: 4px solid var(--dark-blue);
  max-width: 1136px;
  height: fit-content;
  margin-top: 80px;
  margin-inline: 15%;
}

/* overskrift lokation */

.tanken-bag-sektion h1 {
  font-family: young serif;
  color: var(--darkdark);
  font-size: 70px;
  padding-top: 40px;
  margin-top: 30px;
  justify-self: right;
  margin-right: 140px;
}

/* tanken bag info sektion */

.tankenbaginfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-block: 50px;
}

.tankenbagp {
  /* width: 100%; */
  max-width: 520px;
  justify-self: start;
  margin-left: 100px;
  font-size: 20px;
}

.tankenbagimg img {
  width: 505px;
  height: auto;
  margin-left: -100px;
  margin-top: -60px;
}
/************* logo placering 1 ******************/

.tblogo1 {
  display: flex;
  /* justify-self: right; */
  margin-left: 56rem;
  position: relative;
  bottom: 180px;
}

.tblogo1 img {
  width: 140px;
  transform: rotate(20deg);
}

/**************** mød tankpasserne *********************/

.tankpassernesektion h2 {
  font-family: young serif;
  font-size: 70px;
  justify-self: center;
  padding-block: 70px;
  margin-top: 180px;
}

.tankpasserneid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #feffed;
  border: 3px solid var(--dark-blue);
  width: 100%;
  max-width: 1127px;
  height: 527px;
  justify-items: center;
  align-items: center;
  justify-self: center;
  margin-block: 50px;
}

.tankpasserneid img {
  width: 355px;
  height: 355px;
  object-fit: cover;
}

.tankpassernesektion h3 {
  font-family: young serif;
  font-size: 36px;
  color: var(--dark-blue);
  margin-bottom: 20px;
}

.tankpassernesektion p {
  width: 520px;
  font-size: 20px;
}

.tankpasserneid div:last-child {
  margin-right: 50px;
}

.tblogo2 {
  position: relative;
}

.tblogo2 img {
  width: 120px;
  transform: rotate(20deg);
}

/***************************************** mobilsite ******************/

@media (max-width: 768px) {
  /********** tanken bag sektion **************/
  .tankenbaginfo {
    grid-template-columns: 1fr;
  }
  .tanken-bag-sektion {
    margin-inline: 0px;
    background-color: #feffed;
    border-top: 2px solid var(--dark-blue);
    border-bottom: 2px solid var(--dark-blue);
    border-inline: 0px;
    width: 100%;
    height: 937px;
    justify-self: center;
    margin-top: 300px;
  }

  .tankenbagimg img {
    display: flex;
    width: 220px;
    height: 330px;
    justify-self: center;
    margin-left: 0px;
    margin-top: -480px;
  }

  .tankenbagp {
    max-width: 400px;
    width: 100%;
    font-size: 18px;
    justify-self: center;
    margin-left: 0px;
  }

  .tanken-bag-sektion h1 {
    margin-top: 130px;
    padding-top: 45px;
    justify-self: left;
    margin-right: 0px;
    margin-left: 40px;
  }

  .tblogo1,
  .tblogo2 {
    display: none;
  }

  .tanken-bag-sektion h1,
  .tankpassernesektion h2 {
    font-size: 36px;
    text-align: center;
  }

  /*************** tank passerne sektion ******************/

  .tankpasserneid {
    grid-template-columns: 1fr;
    width: 400px;
    height: 800px;
    justify-items: center;
    align-items: center;
    justify-self: center;
    margin-block: 50px;
  }
  .tankpasserneid img {
    width: 300px;
    height: 300px;
    margin-top: 30px;
  }

  .tankpassernesektion p {
    max-width: 300px;
    font-size: 18px;
  }
  .tankpassernesektion h3 {
    margin-top: -30px;
    font-size: 32px;
  }

  .tankpasserneid div:last-child {
    margin-right: 0px;
  }
}
